<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue02</title>
    <!-- css 样式 -->
    <style>
        .title{
            font-size: 40px;
            color: red;
        }
        .main_title{
            font-weight: 80;
        }
    </style>
</head>
<body>
    <p class="title">中国，加油！</p>
    <div id='app'>
        <!-- 属性绑定 -->
        <!-- 通过数组的方法绑定css中的样式，效果等同于“中国，加油！” -->
        <p v-bind:class='[class1, class2]'>china fighting!!!</p>
        <!-- 通过对象的方法绑定css中的样式,效果同上 -->
        <p v-bind:class="{title:class3, main_title:class4}">china fighting!!!</p>
        
        <!-- 绑定style -->
        <!-- 通过对象的方法,读取对应样式的值 -->
        <p v-bind:style="{'backgroundColor': background}">hi</p>
        <!-- 通过数组的方法，读取对应样式的值，若有多组可以使用'[pcl1, pcl2]' -->
        <P v-bind:style='pcl'>嘟嘟嘟~</P>

        <!-- 使用JavaScript表达式 -->
        <!-- {color:color?"red":"blue"}是一个三元表达式（三目），如果vue对象有定义color
        就显示红色，没有显示蓝色 -->
        <!-- username.split(" ").reverse().join(" ")，是javascript表达式，split是去除指定内容
        reverse()是翻转，join是拼接指定内容。该语句的效果是将world hello 变成 hello world -->
        <p :style='{color:color?"red":"blue"}'>{{username.split(" ").reverse().join(" ")}}</p>
        
        <!-- 条件判断 -->
        <p v-if="weather == 'sun' " :style='pcl'>出去耍</p>
        <p v-else-if="weather == 'rain' ">在家耍</p>
        <p v-else>恰火锅</p>
    </div>

    <!-- 切换不同的登录方式，指定key属性可以在每次切换后保持输入框空白 -->
    <div id='login'>
        <template v-if="logintype == 'username' ">
            <label>用户名</label>
            <input type="text" placeholder='用户名' key='username'>
        </template>
        <template v-else-if="logintype == 'email'">
            <label>邮箱</label>
            <input type="text" placeholder='邮箱' key='email'>
        </template>
        <button v-on:click="checkout">切换</button>
    </div>

    <!-- 循环 -->
    <div class='hi'>
        <table>
            <tr>
                <th>序号</th>
                <th>书名</th>
                <th>作者</th>
            </tr>
            
            <!-- 循环数组 -->
            <tr v-for="(book,index) in books">
                <td>{{index+1}}</td>
                <td>{{book.name}}</td>
                <td>{{book.auth}}</td>
            </tr>
        </table>

        <!-- 循环对象 -->
        <div v-for='(value, key) in person'>
            {{key}}:{{value}}
        </div>
    </div>


</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            class1: 'title',
            class2: 'main_title',
            class3: true,
            class4: true,
            background: 'red',
            pcl: {
                backgroundColor: 'pink',
                // 字符串中有 - 需要用引号包裹，或者改成驼峰命名
                'font-size': '60px'
            },
            username: 'world hello',
            color: false,
            weather: 'sun'
        }
    });
    new Vue({
        el: '#login',
        data: {
            logintype: 'username'
        },
        methods: {
            checkout: function(){
                this.logintype = this.logintype=='username'?'email':'username';
            }
        }
    });
    new Vue({
        el: '.hi',
        data: {
            books: [
                {
                    name: 'python',
                    auth: '龟叔'
                },
                {
                    name: '凡心春水',
                    auth: '冰心'
                },
                {
                    name: '追风筝的人',
                    auth: '啦啦啦'
                }
            ],
            person: {
                username: 'shell',
                age: '16'
            }
        }
    })
</script>