<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <!-- <div v-for='l in language' :key="l">
            <label for="">{{l}}</label>
            <input type="text" :placeholder="l">
        </div>
        <button @click='change'>位置调换</button> -->

        <!-- <div v-for="l in language">
            <p>{{l}}</p>
        </div>
        <button @click='updata'>change</button> -->

        <!-- <div v-for='i in person'>
            <p>{{i}}</p>
        </div>
        <p>{{person.username}}</p>
        <button @click='add'>change</button> -->

        <div>
            <p>{{count}}</p>
            <button @click="count += 1">加</button>
            <button v-on:click="sub(2, $event)" value='giao' name='ha'>减</button>
        </div>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            language: ['python', 'java', 'C', 'PHP'],
            person: {
                username: 'shell'
            },
            count: 0
        },
        methods: {
            change: function(){
                this.language.sort(function (a, b){
                    return 5 - Math.random()*10
                })
            },
            updata: function(){
                // 替换-从下标0开始，将长度为2的数组元素替换为shell
                // this.language.splice(0,2,'shell', 'crab')
                // 删除-从下标0开始，删除长度为2
                // this.language.splice(0,2)
                // 添加-在下标1的位置添加shell
                // this.language.splice(1,0,'shell')
                // this.language.sort(function(a, b){
                //     x = Math.random()
                //     y = Math.random()
                //     return x - y
                // })
                // this.language.reverse()

                // 视图更新注意事项
                // Vue.set(this.language, 0, 'shell')
            },
            add: function(){
                Vue.set(this.person, 'age', 18)
            },
            sub: function(num, b){
                this.count -= num
                console.log(b.target.value)
                console.log(b.target.name)
                alert(123)
            }
        }
    })
</script>